div.chess-cell {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #ffce9e;  
}
div.black {
    background-color: #d18b47;
}
div.selected {
    background-color: red;
}
img {
    width: 60px;
    height: 60px;
}
  